<ul style="list-style-type: none; margin: 0; padding: 0;">
    <li style="display: inline; margin-right: 15px;">
        <a href="/" style="padding: 10px; <%= (page=='home') ? 'background-color: grey;' : '' %>">Home</a>
    </li>
    <li style="display: inline; margin-right: 15px;">
        <a href="/notes/all" style="padding: 10px; <%= (page=='view') ? 'background-color: grey;' : '' %>">View All Notes</a>
    </li>
</ul>